{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block content %}
<main>
    {% for note in notes %}
    <div class="note">
        <h2>{{note['title']}}</h2>
        <small>{{note['dates']}}</small>
        <p class="note__content" id="content">{{note['content']}}</p>
        <div class="note__footer">
            <a href="{{ url_for('edit', id=note['id']) }}">Edit</a>
            <button id="read" onclick="showContent('.read__content', 'show', {{ loop.index }})">Read</button>
            <button onclick="showContent('.toast__box', 'show', {{ loop.index }})">Delete</button>
        </div>
        
        {% include "components/delete_form.html" %}
        {% include "components/read_content.html" %}
    </div>
    {% endfor %}
</main>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}